{% extends 'main/main.html' %}
{% load static %}

{% block title %}
Регистрация
{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/modals.css' %}">

{% endblock %}

{% block body %}

<div class="col-12 col-lg-9 col-xl-9">
  <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
    <div class="card-body p-4 p-md-5">
      <h3 class="mb-4 pb-2 pb-md-0 mb-md-5">Регистрация</h3>
      <form method="POST">
        {% csrf_token %}
        {{regForm.as_p}}
        <div class="mt-4 pt-2">
          <input class="btn btn-primary btn-lg" type="submit" name="submit" value="Регистрация">
        </div>

      </form>
    </div>
  </div>
</div>

{% endblock %}
