{% extends 'main/main.html' %}
{% load static %}

{% block title %}
Главная страница
{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/products.css' %}">
<link rel="stylesheet" href="{% static 'css/modals.css' %}">

<script src="{% static 'js/products.js' %}" async></script>
{% endblock %}

{% block body %}

<h1>Главная страница</h1>

<!-- Каталог товаров начало -->
<div class="container">
  {% for data in allproducts %}
  <div class="product" productId={{data.id}}>
    <img src="data:image/jpeg; base64, {{data.picture}}" class="img-product">
    <h3>{{data.name}}</h3>
    <h4>Цена {{data.price}}</h4>
    <button onclick="openProduct(this)" class="btn-product btn-info">Узнать больше</button>

  </div>
  {% endfor %}
</div>
<!-- Каталог товаров конец -->

<!-- Модальное окно товара начало -->
<div id="productModal" class="modal" method="POST">
  {% csrf_token %}
  <div class="modal-content">
    <div class="modal-header">
      <span class="close">&times;</span>
      <h2 id="header"></h2>
    </div>
    <div class="row">
      <div class="col-sm">
        <img id="product-modal-img" src="">
      </div>
      <div class="col-sm">
        <div class="modal-body">
          <h3>Описание товара</h3>
          <p id="description" replaceText="#text">></p>
          <p id="price" replaceText="Цена товара: #text"></p>
          <p id="quantity" replaceText="Количество товара: #text"></p>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <input id="modalProductId" type="hidden" name="modalProductId" value=0>
      <input id="modalQuantity" type="hidden" name="modalQuantity" value=1>
      {% if user_id %}
      <button class="btn-product btn btn-info" onclick="addToBacket(this)">Добавить в корзину</button>
      {% endif %}
    </div>
  </div>
</div>
<!-- Модальное окно товара конец -->

{% endblock %}
