.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.product {
  background-color: aquamarine;
  border: 1px solid;
  margin: 3%;
  padding: 1%;
  width: 15%;
  border-radius: 15px;
}

.product:hover {
  transform: scale(1.25);
  transition: all .5s ease;
} 