.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.product {
  background-color: aquamarine;
  border: 1px solid;
  margin: 3%;
  padding: 1%;
  width: 15%;
  border-radius: 15px;
  transition: all .5s ease;
}

.product:hover {
  transform: scale(1.15);
} 

.product::after {
  transform: scale(1);
}